body {
    margin: 0;
    padding: 0;
    font-family: 'saira', arial, serif;
    display: flex;
    justify-content: center;
}

.wraper {
    max-width: 1000px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    font-size: 36px;

}

#search {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 0;
}

input[type=text] {
    width: 220px;
    height: 30px;
    text-align: justify;
    outline: none;
    border-radius: 0;
    border: 1px solid black;
}

input[type=text]:focus {
    background-color: rgb(222, 222, 222);
}

#searchBt {
    border-radius: 0;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

#searchBt:hover {
    background-color: gray;
}

ul, li {
    list-style: none;
    margin: 0;
    padding-left: 0;
}


#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

#navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
}
#navigation li {
    border-top: 3px solid black;
    width: 165px;
    margin-bottom: 5px;
}

#navigation ul>li>a {
    display: block;
    padding: 0;
    margin-left: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
    height: 25px;
    text-decoration: none;
    transition: 0.5s;
    transition-duration: 0.5s;
    border-radius: 0 0 5px 5px;
}

#navigation a:hover{
    background-color: rgba(45, 118, 48, 1);
    color: white;
}


.asideBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    z-index: 5;
    right: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 146, 59);
    height: 80px;
    width: 80px;
    border-radius: 5px 0 0 5px;
    font-size: 12px;
    padding-top: 5px;
}

.asideBar>a {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.asideBar2 {
    top: 75%;
    transition: 0,3s;
}

.asideBar1 {
    top: 60%;
    transition: 0,3s;
}

.asideBar:hover {
    background-color: rgb(45, 118, 48);
    -webkit-box-shadow: -1px 1px 20px 1px rgba(255,255,255,0.8);
    -moz-box-shadow: -1px 1px 20px 1px rgba(255,255,255,0.8);
    box-shadow: -1px 1px 20px 1px rgba(255,255,255,0.8);
}

.asideBar:active {
    background-color: rgb(45, 118, 48);
    transform: translateY(2px);
}

#main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    /* padding: 10px; */

}

/*Here carousel starts*/

#carousel, .imgCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imgCarousel {
    display: block;
    position: relative;
}

.contentCarousel {
    position: absolute;
    width: 300px;
    height: 150px;
    overflow: hidden;
    font-size: 14px;
    color: white;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(45, 118, 48, 0.5));
    z-index: 1;
    bottom: 5px;
    left:10px;
}

#img1, #img2 {
    max-width: 95vw;
    min-height: 152px;
    max-height: 232px;
    object-fit: cover;
    width: 1000px;
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#pButton1, #pButton2 {
    display: block;
    float: right;
    height: 18px;
    width:80px;
    margin: 0px 5px 5px 0px;
    text-align: center;
    background-color: rgb(45, 118, 48);
    border: 3px solid rgb(45, 118, 48);
    border-radius: 5px 0 0 5px;
    color: white;
}

#pButton1:hover, #pButton2:hover {
    cursor: pointer;
    background-color: rgba(56, 146, 59, 0);
}

/*Here carousel ends*/

#mainContent {
    display: flex;
    flex-wrap: wrap;
    min-width: auto;
    max-width: 700px;
    margin-right: auto;
}

#paragraph {
    display: flex;
    flex-wrap: wrap;
}
#paragraph>h1 {
    color: rgb(45, 118, 48);
    padding: 10px;
}
#paragraph>p>b {
    color: rgb(45, 118, 48);

}
#paragraph>p>a {
    text-decoration: none;
    color: rgb(45, 118, 48);
    font-size: bold;
}

#paragraph>p {
    padding: 10px;
    max-width: 300px;
}

/*Message Form starts*/
#messageForm {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 118, 48);
    min-width: 250px;
    margin: auto;
    margin-right: 0;
}

#messageForm>input {
    width: 230px;
    height: 30px;
    border: none;
    padding: 2px;
    margin-bottom: 2px;
}

#messageForm>button {
    width: 234px;
    height: 34px;
    background-color: rgb(45, 118, 48);
    transition: 0,3s;
    outline: none;
    border: none;
}

#messageForm>button:hover {
    background-color: rgb(56, 146, 59);
}

#messageForm>button:active, .nav2But:active, #pButton1:active, #pButton2:active{
    background-color: rgb(56, 146, 59);
    transform: translateY(2px);
}

#errorField {
    color: rgba(140, 0, 0, 0.5);
    border-bottom: 2px solid rgba(140, 0, 0, 0.5);
    font-size: 14px;
}
/*Message Form*/


.nav2 {
    display: flex;
    flex-wrap: wrap;
    min-width: auto;
    max-width: 1000px;
    /* background-color: rgb(45, 118, 48); */
    justify-content: space-evenly;
}

.banners {
    position: relative;
}

.tiles {
  height: auto;
  margin: 5px 5px 0px 5px;
  width: 250px;
  background-image: linear-gradient(to right, rgba(45, 118, 48, 0.5), rgb(56, 146, 59));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  transition: 0.5s;
  transition-duration: 0.5s;   
}

.tiles>div>img {
    max-width: 250px;
}

.nav2But {
    min-width: auto;
    max-width: 271px;
    height: 30px;
    margin-bottom: 5px;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px 5px 0 0px;
    background-color: rgb(45, 118, 48);
    transition: 0,5s;
}

.nav2But:hover {
    background-color: transparent;
    border: 3px solid rgb(45, 118, 48);
}

.hidden {
    display: block;
    position: absolute;
    bottom: 0px;
    height: 0;
    overflow: hidden;
    border: 1px solid black;
    min-width: auto;
    max-width: 768px;
}

.wisible {
    display: block;
    background-color: rgb(45, 118, 48);
    color: white;
    min-width: auto;
    max-width: 1000px;
    padding: 5px;
    border: 1px solid rgb(45, 118, 48);
    transition: 0.5s;
    transition-duration: 0.5s;
    overflow: hidden;
    animation-iteration-count: 1;
    border-radius: 5px 5px 0 0;
}

footer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    width: 100%;
    background-color: rgb(45, 118, 48);
    color: white;
}

footer a {
    text-decoration: none;
    font-style: italic;
    color: white;
}